body {
  font-family: 'Raleway', Arial, sans-serif;  
  color: #c7c6c6;
}

.holy-grail {
  min-height: 100vh;
}

.holy-grail header,
.holy-grail footer {
  background: #f3f2f1;
  color: #fff;
  font-weight: 700;
}

.holy-grail header{
  text-align: center;
  font-weight: 700;
  padding: 20px;
  background-color: #ffffff;

}

.holy-grail footer,
.holy-grail .hg-sidebar,
.holy-grail .hg-content {
  text-align: center;
  font-weight: 700;
  padding: 20px;
  background-color: #f3f2f1;
}

.holy-grail,
.hg-main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.hg-content {
  flex: 1 1 auto;
}

.hg-sidebar {
  background: #f3f2f1;
  color: rgba(0, 0, 0, 0.3);
}

.hg-sidebar-1 {
  order: -1;
}

@media (min-width: 768px) {
  .hg-main {
    flex-direction: row;
  }
  
  .hg-sidebar {
    flex: 0 0 200px;
  }  
}

@media (min-width: 992px) {
  .hg-sidebar {
    flex: 0 0 260px;
  } 
}